$colors: (
  white: #fff,
  black: #444,
  grey: #ededed,
  // Pokemon colors
    bug: #7ee895,
  dark: #4d4658,
  dragon: #77e2f1,
  electric: #f0c314,
  fairy: #ef71a3,
  fighting: #fe8c6b,
  fire: #fdb69c,
  flying: #b7cedd,
  ghost: #b282b4,
  grass: #60dfc8,
  ground: #bd8b53,
  ice: #63aece,
  normal: #ffc5d6,
  poison: #c89dfd,
  psychic: #fe9dd1,
  rock: #a1a0a0,
  steel: #59c5a1,
  water: #8fd1fe,
);
